In [1]:
from sklearn.ensemble import GradientBoostingRegressor
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import r2_score
from pylab import rcParams
import seaborn as sb
import warnings
warnings.filterwarnings('ignore')

In [2]:
%matplotlib inline
rcParams['figure.figsize']=5, 4
sb.set_style('whitegrid')

In [3]:
df=pd.read_csv("C:/true_car_listings.csv")

In [4]:
df.head()

,Price,Year,Mileage,City,State,Vin,Make,Model
0,8995,2014,35725,El Paso,TX,19VDE2E53EE000083,Acura,ILX6-Speed
1,10888,2013,19606,Long Island City,NY,19VDE1F52DE012636,Acura,ILX5-Speed
2,8995,2013,48851,El Paso,TX,19VDE2E52DE000025,Acura,ILX6-Speed
3,10999,2014,39922,Windsor,CO,19VDE1F71EE003817,Acura,ILX5-Speed
4,14799,2016,22142,Lindon,UT,19UDE2F32GA001284,Acura,ILXAutomatic

In [5]:
x=pd.DataFrame(df.iloc[:,1:3].values)
y=pd.Series(df.iloc[:,0].values)

In [6]:
x.head()

      0      1
0  2014  35725
1  2013  19606
2  2013  48851
3  2014  39922
4  2016  22142

In [7]:
y[1:10]

1    10888
2     8995
3    10999
4    14799
5     7989
6    14490
7    13995
8    10495
9     9995
dtype: int64

In [8]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [9]:
gradient_regressor=GradientBoostingRegressor(max_depth=5,n_estimators=500,learning_rate=0.05)

In [10]:
model=gradient_regressor.fit(x_train,y_train)
y_pred=model.predict(x_test)

In [11]:
r2_score(y_test,y_pred)

0.23121783938886986

In [12]:
y_pred

array([26133.11112548, 23615.8767271 , 22659.68688093, ...,
       17815.96905231, 26091.3592204 , 23691.64247211])

In [13]:
from sklearn import metrics
print('Mean Absolute Error:', round(metrics.mean_absolute_error(y_test, y_pred),2))
print('Mean Squared Error:', round(metrics.mean_squared_error(y_test, y_pred),2))

Mean Absolute Error: 7574.94
Mean Squared Error: 141579464.97